OPENAI_API_KEY="..."
GOOGLE_API_KEY="..."
COHERE_API_KEY="..."
HUGGINGFACEHUB_API_KEY="..."
PINECONE_API_KEY="..."
DASHCOPE_API_KEY="..."
DEEPSEEK_API_KEY="..."

# supabase param
SUPABASE_URL="..."
SUPABASE_SERVICE_KEY="..."